/* ------Work sans from google fonts -----------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
    margin: 0;
}

/* --------Shared-styles -------------*/
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.text-pink-G {
    color: #FF42A5;
}

.text-gray-eighten {
    color: #3C354F;
    font-weight: 500;
    font-size: 1rem;
    width: 98px;
    height: 21px;
}

.logo-title {
    width: 147px;
    height: 53px;
    font-size: 2.8rem;
    font-weight: 700;
}

.btn-pink {
    max-width: 150px;
    height: 56px;
    padding: 21px 40px;
    border-radius: 48px;
    font-size: 1rem;
    color: #FFF;
    font-weight: 600;
    background-color: #FF42A5;
}

/*------------Header-part ------------*/


/* ------------------ nav-part -------------------------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    width: 100%;

}

nav>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;


}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;

}

.follow-us {
    display: flex;
    align-items: center;
    width: auto;
    height: 30px;
    padding: 16px 18px 16px 18px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.gamer-logo {
    display: flex;
    gap: 5px;

}

.gamer-logo img {
    max-width: 86px;
    height: 40px;
    object-fit: cover;
    padding: 49px 0 46px 140px;
}

.gamer-logo h3 {
    color: #3a3449;

}


/* --------------Banner part --------------- */

.banner-container {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;

}


.banner-contant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/Group\ 14.png);
    background-size: 80%;
    background-repeat: no-repeat;
    width: 90%;
    height: 500px;

}

.banner-contant ul {
    margin-top: 60px;
    display: flex;
    flex-direction: column;

}

.banner-contant li a {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}

.banner-btn {
    display: flex;
    gap: 10px;

}

.btn-blue {

    max-width: 150px;
    height: 54px;
    padding: 21px 30px;
    border-radius: 48px;
    font-size: 1rem;
    color: #FFF;
    font-weight: 600;
    background-color: #4EC5F7;
}


.banner-contant h1 {
    margin-bottom: 10px;
    max-width: 340px;
    height: 56px;
    font-size: 3rem;
    font-weight: 600;
}

.banner-img img {
    margin-right: 340px;
    max-width: 100%;
    height: 400px;
}

/*-----------------Gamers  -------------------*/
.gamers-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.gamers-img img {
    width: 600px;
    height: 400px;
}

.gamers-contant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gamers-title {
    font-size: 2.3rem;
    font-weight: 700;
    width: 325px;
    height: 56px;
    margin-bottom: 0;
}

.gamers-contant p {
    font-size: 1rem;
    color: #534C64;
    width: 520px;
    height: 120px;
    margin-bottom: 0;
}

.btn {
    padding: 11px 20px;
}

/*----------------Funny Videos --------------------*/

.funny-videos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.card img {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 240px;
}

.card-1 {
    margin-left: 250px;
}

.card-4 {
    margin-right: 200px;
}

.card p {
    text-align: center;
    font-size: .8rem;
    font-weight: 500;
    width: 210px;
    height: 30px;
}

.box-container {
    display: flex;
    flex-direction: column;
}

.box-contant {
    text-align: center;
    font-size: .8rem;
    font-weight: 500;
    width: 210px;
    height: 30px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 240px;
    background-image: url(../images/Rectangle\ 7.png);
    position: relative;
    bottom: 15px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.box i {
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 700;
}

.box h4 {
    color: rgb(224, 30, 63);
    font-size: 1.5rem;
    font-weight: 700;
}

.box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    z-index: 1;
}

.box:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(224, 30, 63);
    font-size: 2rem;
    font-weight: 700;
}

.funny-video-title {
    font-size: 2.5rem;
    color: #0B0223;
    font-weight: 700;
    margin-bottom: 19px;
    margin-top: 100px;
}

.funny-video-contant {
    margin-top: 0;
    margin-bottom: 30px;
    color: #534C64;
    font-size: .8rem;
    font-weight: 400;
    text-align: center;
}



/* ------------Paly instantly -------------*/
.play-instant-container {
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 64px;
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.play-instant-title {
    margin: 0 auto;
    text-align: center;
    width: 341px;
    height: 150px;
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}

.play-instant-text {
    margin-top: 0;
    margin-bottom: 120px;
    max-width: 353px;
    height: 50px;
    font-size: 1rem;
    font-weight: 400;
    color: #534C64;
    text-align: center;
}

.play-instant-img img {
    width: 80%;
    height: 420px;
    margin-left: 95px;

}

#second-img {
    width: 35%;
    height: 200px;
    position: relative;
    bottom: 160px;
    margin: 0;
}

/* ------------features------------- */

.features-container {

    display: flex;
    justify-content: center;
    align-items: center;

}

.grid-container {
    margin-left: 40px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 160px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-item {

    padding: 5px;
    text-align: center;
}

.center-row {
    width: 180px;
    margin-left: 80px;
    justify-self: center;
}

.grid-item {

    text-align: center;
}

.center-row {
    justify-self: center;

}



.btn-white {
    font-size: .8rem;
    font-weight: 600;
    border: 1px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border-radius: 50px;
    color: #0B0223;
}

.btn-white img {
    padding: 5px;
    width: 50px;
    height: 50px;
}



.features-container button:hover {
    border: 1px solid red;
    color: red;
}

/* ---------------Footer ---------------*/

footer {
    max-width: 100%;
    height: 500px;
    background: #0B0223;
}

.footer-logo {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-logo h1 {
    color: #FFF;
}

.footer-contant ul {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.footer-contant {
    margin-top: 40px auto;
    width: 100%;
}

.footer-contant li a {
    color: #FFF;
}

.footer-icons {
    padding-top: 40px;
    max-width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-icons i {
    width: 40px;
    height: 40px;
    font-size: 1.7rem;
}

.terms-privacy-policy {
    max-width: 100%;
    height: 39px;
    margin-top: 40px;
}

.terms-privacy-policy ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px;
}

.terms-privacy-policy li a {
    max-width: 124px;
    height: 19px;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}


.footer-address {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1351px;
    height: 39px;
    margin-top: 16px;
}

.footer-address p {
    max-width: 631px;
    height: 19px;
    font-size: .8rem;
    text-align: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
}


/*---------responsive media queries---------------*/

@media screen and (max-width: 576px) {


    nav,
    nav ul,
    .banner-container,
    .cards,
    .gamers-container,
    .footer-contant {
        flex-direction: column;
    }

    nav {
        display: block;
    }

    .card-1 {
        margin: 0;
    }

    .card-4 {
        margin-right: 0;
    }


    .play-instant-container {
        display: block;
        margin-left: 0;
        max-width: 100%;
    }


    .features-container {
        justify-content: start;
    }

    .grid-container {
        margin-left: 0;
        grid-template-columns: repeat(3, 1fr);
        width: 20px;
    }

    .grid-container .center-row {
        margin-left: 0;
    }

    .footer-contant ul {
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    footer {
        width: 100%;
    }

    .footer-icons i {
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .terms-privacy-policy ul {
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        padding: 0;
    }

    .terms-privacy-policy li {
        margin-left: 50px;
        padding: 5px;
    }

    .footer-address p {
        width: 190px;
        margin-top: 30px;
    }

    .btn-white img {
        width: 30px;
        height: 30px;
    }

    .btn-white h4 {
        font-size: 10px;
    }

}

/*---------------Tabs ----------------- */
@media screen and (min-width:576px) and (max-width:922px) {

    nav,
    .banner-container,
    .gamers-container,
    .cards,
    .play-instant-container {
        flex-direction: column;
    }

    .banner-container img {
        margin-left: 100px;
    }

    nav {
        display: block;
    }

    .play-instant-container {
        margin-left: 0;
        gap: 0;
    }

    .play-instant-text {
        margin-bottom: 40px;
    }

    .cards {
        align-items: center;
        justify-content: center;

    }

    .card-1 {
        margin: 0;
    }

    .card-4 {
        margin-right: 0;
    }

    .grid-container {
        margin-left: 0;
        grid-template-columns: repeat(3, 1fr);
        width: 20px;
    }

    .features-container {
        justify-content: start;
    }

    .grid-item {
        margin-left: 50px;
    }

    .grid-container .center-row {
        margin-left: 40;
    }

}